
# checkpoints
checkpoints/front/*
checkpoints/generator/*
checkpoints/image2image/*
checkpoints/syncnet/*
checkpoints/end2end/*


#old folder 
old/*

# filelist (dataset) 
filelists/*.txt

# results
results/*
temp/*
dummy/*
face_front/
results.mp4 
logs/generator/*
logs/syncnet/*


# excluding all .md
!*.md


# ignore 
*.pyc
*.mp4
*.pth








